
{% extends "progetto_macchine/base.html" %}

{% block content %}
<div class="container">
  <h1 class="display-4 mt-5 mb-4 text-center">Liste des voitures</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
    {% for machine in page_obj %}
    <div class="col">
      <div class="card border border-dark rounded-3 shadow-lg hover-effect">
        {% if machine.images.all %}
        <img src="{{ machine.images.first.image.url }}" class="card-img-top img-fluid" alt="{{ machine.name }}" style="max-width: 100%;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ machine.name }}</h5>
          <p class="card-text">Type: {{ machine.machine_type }}</p>
          <a href="{% url 'progetto_macchine-detailpagina' machine.pk %}" class="btn btn-primary">Voir les Détails</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Paginazione -->
<div class="container mt-5">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
      </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock content %}
