{% extends "progetto_macchine/base.html" %}


{% block content %}
<div class="col-md-6">
    <h2 style="color: #343a40;">Besoin d'aide ? Contactez-nous !</h2>
    <p style="color: #6c757d;">Si vous avez des questions sur nos produits ou si vous avez besoin d'assistance, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider.</p>
    <p class="mb-4" style="color: #6c757d;"><strong>Appelez-nous au (+226) 70 70 40 45(OUAGADOUGOU)</strong></p>
      <p class="mb-4" style="color: #6c757d;"><strong>(+266)76 76 40 45 et 79 79 40 45 (OUAGADOUGOU)</strong></p>
      <p class="mb-4" style="color: #6c757d;"><strong> (+228) 90 47 00 51 (LOME')</strong> </p>
        <p class="mb-4" style="color: #6c757d;"><strong> (+229) 96  33 69 85 (COTONOU)</strong> </p>
    </strong> ou envoyez-nous un message Facekook à <strong>@gecaf</strong>. Nous serons ravis de vous aider.</p>
</div>
{% endblock content%}
