{% extends "progetto_macchine/base.html" %}


{% block content %}
<div class="col-md-6">
    <h2 class="display-4 mb-4" style="color: #343a40;">Besoin d'aide ? Contactez-nous !</h2>
    <p class="mb-4" style="color: #6c757d;">Si vous avez des questions sur nos produits ou si vous avez besoin d'assistance, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider.</p>
    <p class="mb-4" style="color: #6c757d;">Appelez-nous au +226 70 70 40 45 ,+266 76 76 40 45 <strong> </strong> ou envoyez-nous un e-mail à <strong>info@vitrinedemachines.com</strong>. Nous serons ravis de vous aider.</p>
</div>
{% endblock content%}
